* {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    font-family: "Sandoll GothicNeoRound", serif;
    color: white;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    height: 120px;
    background-color: #ffffff;
    padding: 10px;
}

header img {
    height: 100px;
}

header > .in {
    height: 100px;
}

.menu {
    float: right;
}

.menu > ul {
    display: block;
}

.position {
    list-style: none;
    padding: 50px;
    color: black;
    float: left;
}

.menu li > ul {
    position: absolute;
    background-color: white;
}

.position li {
    color: black;
    margin-top: 70px;
}

.position:hover {
    color: white;
    background-color: #009968;

}

.position:hover > ul {
    display: block;
}

.position > ul {
    display: none;
    list-style: none;
    margin-left: -50px;

}

.position > ul {
    padding: 45px;
    background-color: white;
    top: 115px;
}

.span1 {
    position: absolute;
    line-height: 700px;
}

.span2 {
    font-size: 70px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    overflow: hidden;
    width: 100%;
}

.slide {
    top: 10px;
    width: 300%;
}

.slideBox {
    height: 700px;
    width: 100vw; /*현재 화면 크기만큼 */
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.contents {
    height: 1200px;
    background-color: #79e5cb;
    padding: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: white;
}

.partner {
    padding: 30px;
}

.partner > img {
    padding: 0 50px;
}

.partner > img:first-child {
    float: left;
}

.partner > img:last-child {
    float: right;
}

.iconContent {
    margin: 150px;
}

.iconContent > img {
    width: 200px;
}

footer {
    height: 400px;
    padding: 90px;
    background-color: #009688;
    color: white;
}

.left {
    float: left;
}

.left > div {
    margin-bottom: 30px;
}

.right {
    float: right;
}

.right > div {
    margin-bottom: 10px;
}